body {
    font-family: Arial, sans-serif;
    background-color: #92a3d7;
    color: black;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.product {
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    padding: 3px;
    text-align: center;
    width: 200px;
}

.product img {
    max-width: 100%;
    border-radius: 5px;
}

.product h4 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #fff;
}

.product .price {
    font-weight: bold;
    color: #6564c1;
    margin-top: 5px;
}