body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #92a3d7;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  header {
    background-color: #111111;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .container {
    display: flex;
    flex: 1; 
  }
  
  aside {
    background-color: #899aed;
    width: 150px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    padding: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    color: #ccc;
  }
  
  main {
    flex-grow: 1;
    padding: 20px;
  }
  
  .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 10px;
      margin-bottom: 20px;
  }
  
  .grid-container a {
      text-decoration: none; 
      color: #333; 
      display: block; 
  }
  
  .grid-item {
      background-color: #f0f0f0;
      padding: 20px;
      border-radius: 5px;
      text-align: center;
  }
  
  footer {
    background-color: #111;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: auto; 
  }